In [8]:
import numpy as np
import pandas as pd
from keras import Sequential
from keras.layers import Dense

In [9]:
data = pd.read_excel('surprise_and_others.xlsx')

In [10]:
data.drop(['frame', ' confidence'], axis = 1, inplace = True)
data

      AU01_r   AU02_r   AU04_r   AU05_r  ...   AU07_r   AU09_r   AU45_r  Emotion
0       0.92     0.80     1.84     0.31  ...     3.04     0.00     0.00        0
1       0.84     0.81     1.81     0.34  ...     2.83     0.00     0.00        0
2       0.54     0.55     1.54     0.24  ...     2.08     0.00     0.10        0
3       0.30     0.23     1.31     0.18  ...     1.46     0.00     0.28        0
4       0.07     0.00     1.07     0.00  ...     0.71     0.00     0.44        0
..       ...      ...      ...      ...  ...      ...      ...      ...      ...
420     0.00     0.00     0.00     0.26  ...     0.97     0.37     0.00        1
421     0.00     0.00     0.00     0.19  ...     0.66     0.23     0.00        1
422     0.00     0.00     0.00     0.06  ...     0.33     0.11     0.00        1
423     0.00     0.00     0.00     0.00  ...     0.00     0.00     0.00        1
424     0.00     0.00     0.00     0.00  ...     0.00     0.00     0.00        1

[425 rows x 9 columns]

In [11]:
data=data.sample(frac=1,random_state=1)
data

      AU01_r   AU02_r   AU04_r   AU05_r  ...   AU07_r   AU09_r   AU45_r  Emotion
172     0.00     0.00     1.93     0.00  ...     0.45     0.00     0.61        0
78      0.01     0.00     0.54     0.00  ...     2.05     0.35     0.00        0
122     1.66     1.97     0.42     0.82  ...     1.13     0.00     0.00        0
376     0.03     0.01     0.01     0.00  ...     0.00     0.00     0.17        1
146     0.74     0.25     0.00     0.12  ...     0.68     0.20     0.12        0
..       ...      ...      ...      ...  ...      ...      ...      ...      ...
255     0.00     0.00     0.00     0.18  ...     0.02     0.00     0.03        1
72      0.00     0.00     0.14     0.53  ...     2.71     0.00     0.52        0
396     0.04     0.00     0.00     0.00  ...     0.00     0.00     0.02        1
235     0.00     0.03     0.00     0.00  ...     0.00     0.00     0.00        1
37      1.98     1.21     0.00     0.00  ...     0.64     0.00     0.00        0

[425 rows x 9 columns]

In [12]:
def preproc(data):
    X = data.iloc[:,:-1].to_numpy()
    Y = data.iloc[:,-1].to_numpy()
    #X_norm = (X - np.mean(X, axis = 0))/np.std(X, axis = 0)
    
    return X, Y

In [13]:
X_train, Y_train = preproc(data)

In [14]:
X_train.shape

(425, 8)

Adding layers

In [15]:
model = Sequential()
#First Hidden Layer
model.add(Dense(100, activation='relu', input_dim=8))
#Second  Hidden Layer
model.add(Dense(92, activation='relu'))
#Third  Hidden Layer
model.add(Dense(61, activation='relu'))
#Output Layer
model.add(Dense(1, activation='sigmoid'))

Fit, evaluation and prediction

In [16]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(X_train, Y_train, epochs=100, batch_size=10, verbose=0)
_, accuracy = model.evaluate(X_train, Y_train)
print('Accuracy: %.2f' % (accuracy*100))

dataset = pd.read_excel('surprise_test.xlsx')#################################change the file name accordingly
dataset.drop(['frame', ' confidence'], axis = 1, inplace = True)

X_test = dataset.iloc[:,:-1].to_numpy()
Y_test = dataset.iloc[:,-1].to_numpy()

predictions = (model.predict(X_test) > 0.5).astype(np.int32)
# print classification results for the first 5 test cases
for i in range(5):
	print('%s => %d (expected %d)' % (X_test[i].tolist(), predictions[i], Y_test[i]))	
_, test_accuracy = model.evaluate(X_test, Y_test)
print('Testing Accuracy: %.2f' % (test_accuracy*100))

14/14 [==============================] - 0s 1ms/step - loss: 0.0613 - accuracy: 0.9788
Accuracy: 97.88
[0.0, 0.49, 0.54, 0.1, 0.0, 0.0, 0.0, 0.18] => 0 (expected 0)
[0.03, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.04] => 1 (expected 1)
[0.02, 0.11, 0.23, 0.0, 0.0, 0.0, 0.54, 0.15] => 1 (expected 1)
[0.0, 0.16, 0.64, 0.03, 0.0, 0.0, 0.0, 0.06] => 0 (expected 0)
[0.0, 0.0, 0.9, 0.0, 0.0, 0.0, 0.0, 0.17] => 0 (expected 0)
2/2 [==============================] - 0s 2ms/step - loss: 0.4658 - accuracy: 0.9020
Testing Accuracy: 90.20